@tailwind base;
@tailwind components;
.lv-bg-1 {
  opacity: 1;
  filter: grayscale(0%) brightness(100%) contrast(100%) blur(0px) sepia(0%)
    invert(0%) saturate(100%) hue-rotate(0deg);
  background-image: url("bg-1.png") !important;
  background-color: rgb(255, 255, 255) !important;
  background-size:contain !important;
  background-position: 50% 50% !important;
  background-attachment: scroll !important;
  background-repeat: no-repeat !important;
}
.lv-bg {
  opacity: 1;
  filter: grayscale(0%) brightness(100%) contrast(100%) blur(0px) sepia(0%)
    invert(0%) saturate(100%) hue-rotate(0deg);
  background-image: url("bg-2.png") !important;
  background-color: rgba(255, 255, 255, 0) !important;
  background-size: cover !important;
  background-position: 50% 50% !important;
  background-attachment: scroll !important;
  background-repeat: no-repeat !important;
}
.lv-bg-2 {
  background-image: url("bg-3.png") !important;
  background-size: cover !important;
  background-position: 50% 50% !important;
  background-attachment: scroll !important;
  background-repeat: no-repeat !important;
}
.bg-5{
  opacity: 1;
  filter: grayscale(0%) brightness(100%) contrast(100%) blur(0px) sepia(0%)
    invert(0%) saturate(100%) hue-rotate(0deg);
  background-image: url("bg-4.png") !important;
  background-color: rgb(255, 255, 255) !important;
  background-size: cover !important;
  background-position: 50% 50% !important;
  background-attachment: scroll !important;
  background-repeat: no-repeat !important;

}
#menu-toggle:checked + #menu {
  display: block;
}
.menu-items{
@apply  md:p-4
py-3
uppercase
px-0
block
hover:border-indigo-400 hover:bg-yellow-100
}
.btnn {
  @apply py-4 bg-black hover:text-black  text-white md:px-10 md:py-7 px-8 md:text-lg
}
.btnn:hover {
  border: 4px solid black;
  background: linear-gradient(rgba(255, 255, 255, 0.301),rgba(185, 185, 185, 0.322));
}

.gs:hover{
  border: 4px solid black;
  background-color:rgba(0, 0, 0, 0.11);
}
.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  box-sizing: border-box;
  
  overflow-x: hidden;
}





@tailwind utilities;
